<h1>Live Honks</h1>
<ul id="honks">
  <% @honks.each do |honk| %>
  <li>
    <p>@<%= honk.user.username %>: <%= honk.message.upcase %><br>
      Posted at: <%= honk.posted_at %></p>
  </li>
  <% end %>
</ul>
